<div class="box-slider">
    <div class="gallery autoplay items-3">
        <div id="item-1" class="control-operator"></div>
        <div id="item-2" class="control-operator"></div>
        <div id="item-3" class="control-operator"></div>

        <figure class="item">
            <h1>1</h1>
        </figure>

        <figure class="item">
            <h1>2</h1>
        </figure>

        <figure class="item">
            <h1>3</h1>
        </figure>

        <div class="controls">
            <a href="#item-1" class="control-button">•</a>
            <a href="#item-2" class="control-button">•</a>
            <a href="#item-3" class="control-button">•</a>
        </div>
    </div>


</div>



<router-outlet></router-outlet>